DB__URL=postgresql+asyncpg://postgres:postgres@postgres:5432/data_pipeline
REDIS__URL=redis://redis:6379/0
CELERY__BROKER_URL=redis://redis:6379/1

FILE_PROVIDER__URL=http://host:port
FILE_PROVIDER__CANDIDATE_ID=candidat-id-1111

POSTGRES_DB=data_pipeline
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres